* {
    margin: 0;
    padding: 0;
}

.container {
    width: 980px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    background-color: #cfcfcf;
}

.row {
    display: flex;
}
.cell {
    width: 25%;
}